.speech{
    font-size: medium;
    color: black;
}
.direction{
    font-size: larger;color: black;
    background-color: lightpink;
    
}
.direction:hover{
    background-color: rgb(153, 235, 166);
    color: red;
}
.nurse{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: green;
}
.nora{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: orange;
}
.name{
    font-size: medium;
}
table{
    border-collapse: collapse ;
    text-align: center;
}
tbody th:nth-child(n){
    background: cornsilk;
    text-align: center;
    padding: 20px;

}
tbody tr:nth-child(n+1){
    background: lightblue;
    text-align: center;
    padding: 20px;
}
tbody td:nth-child(n){
    padding: 20px;
}
tbody tr:nth-last-child(2n+2){
    background: cornsilk ;
}